<mat-nav-list>
    <div class="row " >
        <div class="col-md-6 offset-md-3">
            <img src="../../../../assets/images/blue.jpg" alt="skuulba admin" class="rounded-circle " width="100px" height="100px">
            <b class=" text-bold ml-1">Administrator</b>
        </div>
        
    </div>
    <br>
    <mat-divider></mat-divider>
    
<a  mat-list-item  routerLinkActive="list-item-active" routerLink="/"> Dashboard</a>
<a  mat-list-item  routerLinkActive="list-item-active" routerLink="/posts"> Posts</a>
<a  mat-list-item  routerLinkActive="list-item-active" routerLink="/articles"> Articles</a>

<mat-divider></mat-divider>
    
<h2 matSubheader> Tools </h2>
<a  mat-list-item  routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon> Contact Us</a>

    <a  mat-list-item  routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon> Leads</a>

<mat-divider></mat-divider>
</mat-nav-list>

