
<h1 mat-dialog-title>Delete Item</h1>
<div mat-dialog-content class="container">
    <div  class="row justify-content-center">

        <div class="col-md-12">
           <p class="lead">This action is irrovokeable do you wish to proceed ? </p>
        </div>
 
    
    </div>
    
</div>
<div mat-dialog-actions class="float-right">
    <button mat-button (click)="close()" class="float-right">Cancel</button>
    <button mat-button (click)="delete()" class="float-right">Delete</button>
    
  </div>