

<app-header class="header" (toggleSidebarForMe)="toggleSidebar()"></app-header>
<div class="" style="height: 50px; background-color:#3f51b5;">
    <div class="row" style="z-index: 0;">
        <div class="col-md-3 offset-md-3 ml-5 mt-2">
            <p class="lead text-white ml-4">Dashboard</p>
        </div>
    </div>
</div>
<mat-drawer-container >
    <mat-drawer mode="side" [opened]="sideBarOpen" >
        <app-sidebar></app-sidebar> 
    </mat-drawer>
    <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
  </mat-drawer-container>


