<ngx-ui-loader></ngx-ui-loader>

<div class="row login-background  justify-content-center" >
   
    <div class="col-md-4 col-sm-12  mt-5">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="text-center">ChruchPress Admin Login</mat-card-title>
            </mat-card-header>
        
            <mat-card-content>
              
                <form class="text-center" [formGroup]="loginForm">

                    <mat-form-field appearance="outline" style="width:300px"  >
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="kwamekert"  formControlName="userName" >
                        <mat-error *ngIf="loginForm.get('userName').invalid"> Invalid input </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" style="width:300px"  >
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="kwamekert"  formControlName="password" type="password" >
                        <mat-error *ngIf="loginForm.get('password').invalid"> Invalid input </mat-error>
                      </mat-form-field>
                  <div align="center">
                    <button class="btn btn-primary btn-block btn-sm" (click)="loginUser()" style="width:230px">Login</button>
                  </div>
                     
                  </form>
              
            </mat-card-content>
          
          </mat-card>
    </div>

    
    <!-- <div class="col-md-4 col-lg-4 mt-4  mb-4 loginForm">
        <div class="row offset-md-1  col-md-12 col-lg-12 mt-5">
            
                <form >
                    <h1 class="text-center mb-5" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ChurchPress</h1>
                   <div class="form-group">
                       <div class="form-label">Email</div>
                       <input type="text" placeholder="Enter email here" class="form-control input-lg" autocomplete="off" >
                   </div>

                   <div class="form-group">
                    <div class="form-label">Password</div>
                    <input type="password" placeholder="Enter password here" class="form-control input-lg"  autocomplete="off">
                </div>
                    <div class="">
                        <button class="btn btn-primary" (click)="loginUser()"><span class="px-3">Login</span></button>
                        <a href="" class="text-bold forgotten-password text-secondary">Forgotten password? </a>
                    </div>
                  </form>
           
        </div>
      
    </div> -->


</div>
