<div class="row login-background  justify-content-center" >
   
    <div class="col-md-4 col-sm-12">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
        
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </div>

    
    <!-- <div class="col-md-4 col-lg-4 mt-4  mb-4 loginForm">
        <div class="row offset-md-1  col-md-12 col-lg-12 mt-5">
            
                <form >
                    <h1 class="text-center mb-5" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ChurchPress</h1>
                   <div class="form-group">
                       <div class="form-label">Email</div>
                       <input type="text" placeholder="Enter email here" class="form-control input-lg" autocomplete="off" >
                   </div>

                   <div class="form-group">
                    <div class="form-label">Password</div>
                    <input type="password" placeholder="Enter password here" class="form-control input-lg"  autocomplete="off">
                </div>
                    <div class="">
                        <button class="btn btn-primary" (click)="loginUser()"><span class="px-3">Login</span></button>
                        <a href="" class="text-bold forgotten-password text-secondary">Forgotten password? </a>
                    </div>
                  </form>
           
        </div>
      
    </div> -->
</div>
