/* body{
    display: flex;
}

.background{
     background-image: url("../../../../../assets/images/loginPage.jpg");
    
} */

// 
  
.login-background{
    min-height:100%;
  background:linear-gradient(0deg, rgba(69,84,98, 0.3), rgba(69,84,98, 0.3)), url("/assets/images/cong.jpg");
  background-size: auto auto;
}

.input-lg {
    width: 300px;
}


.forgotten-password {
        text-decoration: none;
        font-weight: 500;
        margin-left: 55px;
        bottom: 0;
        position: absolute;
    
}
  
.example-card {
    max-width: 400px;
  }
  
  

 