<div class="row">
    <div class="col-md-8 col-lg-8 ">
        <img src="../../../../../assets/images/loginPage2.jpg"  alt=""
        class="img-fluid" height="600px">
    </div>
    <div class="col-md-4 col-lg-4 mt-4">
        <div class="row offset-md-1  col-md-12 col-lg-12 mt-5">
            
                <form >
                    <h1 class="text-center mb-5" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">SkuulBa</h1>
                   <div class="form-group">
                       <div class="form-label">Email</div>
                       <input type="text" placeholder="Enter email here" class="form-control input-lg" autocomplete="off" >
                   </div>

                   <div class="form-group">
                    <div class="form-label">Password</div>
                    <input type="password" placeholder="Enter password here" class="form-control input-lg"  autocomplete="off">
                </div>
                    <div class="">
                        <button class="btn btn-primary" (click)="loginUser()"><span class="px-3">Login</span></button>
                        <a href="" class="text-bold forgotten-password text-secondary">Forgotten password? </a>
                    </div>
                  </form>
           
        </div>
      
    </div>
</div>
