.mat-icon {
    font-size: 50px;

  
}

.holder{
    border : 2px solid red;

}


.countdown {
    text-align: center;
    justify-content:center;
    align-items: center;
    font-size:25pt;
    color: #797979;
}