<div class="row">
    <div class="col-md-3">
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6 text-center"> <mat-icon  color="accent" >subscriptions</mat-icon></div>
                    <div class="col-md-6"><app-counter [digit]="84" [duration]="1000"></app-counter></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4">
        <div class="card">
         
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <p class="lead">Hello</p>
        </div>
    </div>
</div>